extends ./layout/index


block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagane sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque, ex non rutrum posuere, felis augue cursus sem, quis imperdiet nunc mi vitae sem. Quisque quis dictum augue. Etiam pellentesque dictum sagittis. In sed pulvinar nunc, non efficitur odio. Praesent non neque nulla. Nulla vitae mauris leo. Phasellus vehicula euismod augue, sit amet consequat tortor maximus vel. Etiam ante velit, dignissim et convallis quis, iaculis ac velit.
                p Curabitur eleifend, lorem vitae interdum placerat, sapien magna ultrices dolor, tincidunt venenatis magna erat sit amet ligula. In vitae massa et leo bibendum viverra. Vestibulum ut ligula vitae elit interdum rhoncus eu et sapien. Pellentesque elementum porta dictum. Ut facilisis nisl id erat rhoncus faucibus. Maecenas at elit maximus, porta nibh vel, vulputate ante. Vestibulum interdum posuere nunc et ornare. Aenean eu metus ut ligula consectetur gravida eu sed felis. Sed varius varius placerat. Quisque hendrerit quam sed libero molestie accumsan. Vivamus pulvinar tincidunt vestibulum. Phasellus vitae vestibulum nisl. Quisque ac mollis velit, quis fringilla nisl. Proin volutpat, turpis finibus eleifend faucibus, lectus magna fringilla ante, in elementum dui lectus ut erat. Proin vel ipsum id tellus condimentum vestibulum.
                p Cras condimentum dictum nisl sed consequat. Nulla lorem augue, malesuada non hendrerit vitae, sollicitudin vel elit. Nulla ultricies molestie lacus, pharetra tempor massa porttitor ut. Suspendisse auctor, nisl sed laoreet elementum, neque lacus pretium purus, eu mattis odio risus et felis. Duis et ex justo. Phasellus eleifend dolor neque, nec sagittis est egestas eget. Cras eleifend nibh vitae erat dignissim, sit amet euismod erat pellentesque.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icno seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad

                    p Nulla lorem augue, malesuada non hendrerit vitae, sollicitudin vel elit. Nulla ultricies molestie lacus
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icno destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos

                    p Nulla lorem augue, malesuada non hendrerit vitae, sollicitudin vel elit. Nulla ultricies molestie lacus
                .col-md-4
                    img(src="img/icono_precio.svg", alt="icno precio", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios

                    p Nulla lorem augue, malesuada non hendrerit vitae, sollicitudin vel elit. Nulla ultricies molestie lacus